h1 {
  color: rgb(31, 31, 114);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.fab.fa-pinterest {
  color: rgb(185, 0, 0);
}

.fab.fa-spotify {
  color: rgb(0, 179, 0);
}

.fab.fa-instagram {
  color: #9a00c0;
}

.fab.fa-facebook {
  color: blue;
}

.nav-item {
  margin: 10px;
  font-size: 18px;
}

.icon {
  height: 25px;
}

.btn-menu:hover {
  background-color: #8a4543 !important;
  color: white;
  transform: scale(1.2);
  transition: transform 0.3s ease;
  font-weight: bold;
  border: 0;
  opacity: 1;
}

.btn-menu {
  font-size: 18px;
  color: #8a4543;
  width: 225px;
}

.transparent-btn {
  opacity: 0.8;
}

.information-ul {
  font-size: 12px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

#main-section {
  background-color: white;
  min-height: 150px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

#top-main-section {
  background-image: url("../image/assets/font-picture.png");
  background-size: cover;
  height: 60vh;
}

#bottom-section {
  position: relative;
}

#bottom-section::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 25px;
  width: 97%;
  height: 2px;
  background-color: rgb(189, 187, 187);
}

#sub-btn {
  width: 150px;
  margin-top: 10px;
  margin-left: 35px;
  font-family: "Courier New", Courier, monospace;
}

#navigation-bar {
  border-bottom: 1px solid black;
}

#img-logo {
  height: 150px;
}

#new-arrival-btn {
  width: 75%;
}

#home-link {
  font-weight: bold;
}
