h1 {
  margin-top: 5px !important;
  margin-bottom: -65px;
  color: #8a4543;
  font-family: "Courier New", Courier, monospace;
}

.product-image {
  height: 500px;
  width: 350px;
  margin: 25px;
}

.product-price {
  margin-left: 25px;
}

.product-name {
  margin-left: 25px;
  font-weight: bold;
}

.new-arrival-image {
  height: 600px;
  width: 450px;
  margin: 50px;
}

.product-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#category .nav-link {
  font-size: 13px;
}

#category {
  position: relative;
}

#category::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 25px;
  width: 97%;
  height: 1px;
  background-color: rgb(189, 187, 187);
}

#product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#store-link {
  font-weight: bold;
}

#home-link {
  font-weight: normal;
}
